<% if flash[:notice] %>
<div class="alert alert-success" role="alert">
  <%= flash[:notice] %>
</div>
    <% end %>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Opção</th>
  </tr>
  </thead>
  <tbody>
      <%= render @productsByName %>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
  </tr>
  </thead>
  <tbody>
      <%= render @productsByPrice %>
  </tbody>
</table>


<%= link_to "Criar produto", new_product_path %>
