<table class="table table-bordered">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Opção</th>
  </tr>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>